<% layout('layouts/boilerplate') %>
<body>
  <div class="container mt-5">
    <h2 class="text-center mb-4">Task List</h2>

    <div class="text-center mb-4">
      <a href="/tasks/new" class="btn btn-success">
        <i class="fas fa-plus"></i> Add Task
      </a>
    </div>

    <div>
      <% for (const task of tasks) { %>
      <div class="mb-3 bg-light">
        <div>
          <a
            href="/tasks/<%= task._id %>"
            class="d-block p-3 border border-primary rounded text-decoration-none"
          >
            <h5 class="mb-0 text-primary"><%= task.title %></h5>
          </a>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</body>
